* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html,
body {
    font-family: "Inter", sans-serif;
color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    padding: 23px 0 23px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.main-section {
    /* Стили для первой секции */
    background-color: #FAFAFF;
    padding: 60px 0;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
font-size: 48px;
margin-bottom: 20px;

}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
font-size: 18px;

}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fafaff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px; 
    width: 150px;
    padding: 9px 12px 8px;
    font-weight: 400;
    font-size: 16px;
    
    appearance: none;
    background-image: url(./assets/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
font-size: 24px;
color: #303030;
margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./assets/solar_map-arrow-up-bold.svg) ;
    padding-left: 20px;
    font-weight: 400;
font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding-left: 20px;
    font-weight: 400;
font-size: 16px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
    padding: 9px 12px 8px;
    border: 1px solid rgba(48, 48, 48, 0.3);
border-radius: 5px;
width: 330px;
height: 36px;
background: rgba(255, 255, 255, 0);
font-weight: 400;
font-size: 16px;

}

.btn {
    /* Стили для кнопки */
    border: none;
    border-radius: 5px;
    background: #2965f1;
    width: 125px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    /* Стили для линии */
    margin: 60px 0 60px;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    border: 1px solid #95a1bb;
width: 113px;
font-weight: 400;
font-size: 14px;

}

th, td {
    /* Стили для ячеек таблицы */
    padding: 11px 15px 12px;
}

footer {
    /* Стили для футера */
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
font-size: 14px;
color: #2965f1;
text-decoration: none;
}